body {
    font-family: 'Segoe UI', sans-serif;
}

.edit {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 15%;
}

.editp a {
    color: rgba(80, 80, 80, 0.5);
    cursor: pointer;
    text-decoration: none;
}

#diamond {
    overflow: hidden;
    border: 3px solid black;
    box-shadow: 5px 5px 5px -2px rgb(85, 85, 85);
    width: 140px;
    height: 140px;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 8% auto auto 50%;
}

.profilepic {
    width: 140px;
    height: 140px;
    margin: auto;
    object-fit: cover;
    transform: rotate(45deg) scale(1.5);
}

.fullname {
    border: 1px solid black;
    border-radius: 25px;
    background-color: floralwhite;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    padding: 0 0.3%;
    text-align: center;
    text-transform: capitalize;
    width: 270px;
}

.choosefile {
    margin: 0 auto 5px auto;
    outline: none;
    text-align: center;
    width: auto;
}

.choosefile p {
    font-size: 12px;
    text-transform: uppercase;
}

.choosefile input, .choosefile button {
    font-size: 11px;
    outline: none;
}

.choosefile input {
    background-color: floralwhite;
}

.choosefile button {
    background-color: rgba(32, 108, 134);
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    padding: 3px 7px;
}

.description, .descriptionedit input {
    color: white;
    background-color: #046096;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
    outline: none;
    padding: 15px;
    width: 50%;
}

.descriptionsaved, .descriptionedit {
    margin: 20px auto 20px auto;
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.61);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.61);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.61);
}

.effect {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.descriptionedit button {
    background-color: rgba(32, 108, 134);
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    margin-top: 7px;
    outline: none;
    padding: 3px 7px;
}

.error {
    color: #E40066;
}

.success {
    color: rgb(53, 223, 84);
}

.error, .success {
    font-size: 12px;
    text-align: center;
}

/*SORT BUTTON*/

.sorting {
    position: absolute;
    margin-left: 25%;
    margin-bottom: -35px;
    padding: 0;
    text-align: center;
}

.textSort {
    color: rgba(80, 80, 80, 0.5);
    cursor: pointer;
    margin: 0;
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    left: -200vw;
}

.sortDropdown {
    display: none;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 50px;
}

#toggleSortDropdown:checked~.sortDropdown {
    display: block;
}

.sorting li {
    font-size: 13px;
}

.sorting li label {
    cursor: pointer;
}

.choices {
    background-color: rgba(223, 223, 223, 0.85);
}

#latest:checked+label, #oldest:checked+label {
    color: #5DB7DE;
}

.sorting ul li input {
    display: none;
}

.sorting ul li button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    bottom: 4px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    width: 100%;
    font-size: 11px;
}

.submitSort {
    background-color: #5DB7DE;
    height: 13px;
}

@media screen and (max-width: 900px) {
    #diamond {
        margin: 12% auto auto 50%;
    }
    .description, .descriptionedit input {
        width: 75%;
    }
}

@media screen and (max-width:800px) {
    #diamond {
        width: 120px;
        height: 120px;
    }
    .profilepic {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width:650px) {
    .sorting {
        margin-left: 17%;
    }
    .textSort {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    #diamond {
        margin: 15% auto auto 50%;
    }
    .editp a {
        font-size: 14px;
    }
}

@media screen and (max-width:510px) {
    .sorting {
        margin-left: 12%;
    }
}

@media screen and (max-width:480px) {
    .editp a {
        font-size: 13px;
    }
    .description, .descriptionedit input {
        width: 85%;
    }
}

@media screen and (max-width:450px) {
    .editp a {
        font-size: 12px;
    }
}

@media screen and (max-width:420px) {
    #diamond {
        border: 2px solid black;
        width: 90px;
        height: 90px;
        margin: 17% auto auto 50%;
    }
    .profilepic {
        width: 90px;
        height: 90px;
    }
    .description, .descriptionedit input {
        font-size: 12px;
    }
    .editp a {
        font-size: 10px;
    }
    .error, .success {
        font-size: 11px;
    }
}

@media screen and (max-width:350px) {
    .editp a {
        font-size: 9px;
    }
    .sorting {
        margin-left: 7%;
    }
}